* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
}

:root {
  --primary-color: #fafafa;
  --secondary-color: #1e1823;
  --accent-color: #fd9222;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.header {
  justify-content: center;
  gap: 101px;
  padding: 20px;
  display: flex;
}

.logo-wrapper {
  align-items: center;
  gap: 5px;
  display: flex;
}

.logo {
  width: 10.98px;
  height: 14.8px;
}

.title {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  line-height: 18px;
}

.sidebar {
  background-color: var(--secondary-color);
  width: 34vh;
  height: 100vh;
  color: var(--primary-color);
  z-index: 15;
  justify-content: center;
  align-items: center;
  transition: right .5s;
  display: flex;
  position: fixed;
  top: 0;
  right: -520px;
}

.sidebar-content {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.sidebar-list {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

.sidebar a {
  transition: color .3s;
}

.sidebar a:hover {
  color: var(--accent-color);
}

.close-icon {
  cursor: pointer;
  background-color: #0000;
  border: none;
  border-radius: 5px;
  width: 28px;
  height: 28px;
  transition: transform .3s;
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
}

.close-icon:hover {
  transform: scale(1.1)rotate(90deg);
}

.social-icons {
  gap: 16px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 108px;
}

.social-icons img {
  border-radius: 5px;
  width: 20px;
  height: 20px;
  padding: 1px;
  transition: background-color .3s, color .3s;
}

.social-icons img:hover {
  background-color: var(--accent-color);
}

.toggle-button {
  cursor: pointer;
  background-color: #0000;
  border: none;
  width: 21px;
  height: 18px;
  transition: transform .3s;
}

.toggle-button:hover {
  transform: scale(1.1);
}

.hero {
  justify-content: center;
  display: flex;
  position: relative;
}

.header-img {
  width: 335px;
  height: 622px;
  padding-top: 85px;
  position: relative;
  overflow: hidden;
}

.header-img img {
  border-radius: 107px;
  width: auto;
  max-width: none;
  height: 69%;
  padding: 70px;
  position: absolute;
  top: 44%;
  left: 49%;
  transform: translate(-50%, -50%)rotate(90deg);
}

.hero-content {
  z-index: 1;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  max-width: 300px;
  display: flex;
  position: absolute;
  bottom: 224px;
}

.hero-pharagraph {
  max-width: 300px;
  color: var(--primary-color);
  text-align: center;
  text-align: left;
  padding: 25px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.hero-btn {
  flex-direction: row;
  justify-content: center;
  gap: 14px;
  display: flex;
}

.buy-now-btn {
  width: 110px;
  height: 41px;
  color: var(--primary-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  border-radius: 50px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.how-its-made-btn {
  width: 149px;
  height: 41px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
  background-color: #0000;
  border-radius: 50px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.scroll-down-container {
  color: var(--primary-color);
  align-items: center;
  gap: 12px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  display: flex;
  position: absolute;
  bottom: -118px;
  left: 30px;
}

.scroll-down-btn {
  cursor: pointer;
  border: none;
  border-radius: 14px;
  width: 28px;
  height: 28px;
}

.buy-now-modal {
  z-index: 5;
  backdrop-filter: blur(5px);
  background: #363636cc;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.buy-now-modal-content {
  background-color: var(--primary-color);
  text-align: center;
  border: 1px solid #ededed;
  border-radius: 15px;
  width: 90vw;
  max-width: 400px;
  height: auto;
  max-height: 95vh;
  margin: 20px auto;
  padding: 10px;
  position: relative;
  overflow-y: auto;
}

.buy-now-modal-content::-webkit-scrollbar {
  width: 5px;
}

.buy-now-modal-content::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

.buy-now-modal-content::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buy-now-modal-content span {
  font-size: 20px;
}

.buy {
  color: var(--accent-color);
}

.close-modal {
  cursor: pointer;
  background-color: #0000;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.products-list {
  background-color: #0000;
  border: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  display: flex;
}

.modal-img {
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 20px;
  align-items: center;
  gap: 110px;
  display: flex;
}

.modal-img span {
  background-color: var(--primary-color);
  border: 1px solid #ededed;
  border-radius: 100px;
  width: 70px;
  height: 29px;
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
}

.modal-form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 100%;
  padding: 20px;
  display: flex;
}

.modal-form label {
  color: #333;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.modal-form input {
  border: 1px solid #eee;
  border-radius: 8px;
  width: 263px;
  height: 45px;
  padding-left: 18px;
  font-size: 14px;
  display: block;
}

.modal-form textarea {
  border: 1px solid #eee;
  border-radius: 8px;
  width: 263px;
  padding-left: 18px;
  font-size: 14px;
  display: block;
}

.modal-form input::placeholder, textarea::placeholder {
  color: #aaa;
}

.modal-form button {
  width: 109px;
  height: 41px;
  color: var(--primary-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  border-radius: 50px;
}

.input-wrapper {
  flex-direction: column;
  align-items: baseline;
  gap: 2px;
  display: flex;
}
/*# sourceMappingURL=index.4d663569.css.map */
