* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  display: flex;
  overflow-x: hidden;
}

:root {
  --primary-color: #fafafa;
  --secondary-color: #1e1823;
  --accent-color: #fd9222;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  justify-content: center;
  gap: 101px;
  padding: 20px;
  display: flex;
}

.logo-wrapper {
  align-items: center;
  gap: 5px;
  display: flex;
}

.logo {
  width: 10.98px;
  height: 14.8px;
}

.title {
  text-transform: uppercase;
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
}

.sidebar {
  background-color: var(--secondary-color);
  width: 34vh;
  height: 100%;
  color: var(--primary-color);
  z-index: 15;
  justify-content: center;
  align-items: center;
  transition: right .5s;
  display: flex;
  position: fixed;
  top: 0;
  right: -520px;
}

.sidebar-content {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.sidebar-list {
  white-space: nowrap;
  flex-direction: column;
  gap: 24px;
  display: flex;
}

.sidebar-desktop {
  display: none;
}

.sidebar a {
  transition: color .3s;
}

.sidebar a:hover {
  color: var(--accent-color);
}

.close-icon {
  cursor: pointer;
  background-color: #0000;
  border: none;
  border-radius: 5px;
  width: 28px;
  height: 28px;
  transition: transform .3s;
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
}

.close-icon:hover {
  transform: scale(1.1)rotate(90deg);
}

.social-icons {
  gap: 16px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 108px;
}

.social-icons-desktop {
  display: none;
}

.social-icons img {
  border-radius: 5px;
  width: 20px;
  height: 20px;
  padding: 1px;
  transition: background-color .3s, color .3s;
}

.social-icons img:hover {
  background-color: var(--accent-color);
}

.toggle-button {
  cursor: pointer;
  background-color: #0000;
  border: none;
  width: 21px;
  height: 18px;
  transition: transform .3s;
}

.toggle-button:hover {
  transform: scale(1.1);
}

.hero {
  justify-content: center;
  display: flex;
  position: relative;
}

.header-img {
  width: 335px;
}

.header-img img {
  object-fit: cover;
  border-radius: 30px;
  width: 100%;
  height: auto;
  display: block;
}

.hero-content {
  z-index: 1;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  max-width: 300px;
  display: flex;
  position: absolute;
  bottom: 224px;
}

.hero-pharagraph {
  max-width: 300px;
  color: var(--primary-color);
  text-align: center;
  text-align: left;
  padding: 25px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.hero-btn {
  flex-direction: row;
  justify-content: center;
  gap: 14px;
  display: flex;
}

.buy-now-btn {
  width: 110px;
  height: 41px;
  color: var(--primary-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  transition: transform .3s;
}

.buy-now-btn:hover, .how-its-made-btn:hover {
  color: var(--accent-color);
  background-color: #fcf1e0;
  transform: scale(1.1);
}

.how-its-made-btn {
  width: 149px;
  height: 41px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
  background-color: #0000;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  transition: transform .3s;
}

.scroll-down-container {
  color: var(--primary-color);
  align-items: center;
  gap: 12px;
  font-size: 12px;
  display: flex;
  position: absolute;
  bottom: -118px;
  left: 30px;
}

.scroll-down-btn {
  cursor: pointer;
  border: none;
  border-radius: 14px;
  width: 28px;
  height: 28px;
}

.scroll-down-btn:hover {
  transform: scale(1.1);
}

.buy-now-modal {
  z-index: 22;
  backdrop-filter: blur(5px);
  background: #363636cc;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.buy-now-modal-content {
  background-color: var(--primary-color);
  text-align: center;
  border: 1px solid #cec8c8;
  border-radius: 15px;
  max-width: 320px;
  height: auto;
  margin: 10px auto;
  padding: 15px;
  position: relative;
  overflow-y: hidden;
}

.iti__country-name {
  font-size: 13px !important;
}

.buy-now-modal-content span {
  font-size: 20px;
  font-weight: 600;
}

.buy {
  color: var(--accent-color);
}

.close-modal {
  cursor: pointer;
  background-color: #0000;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.products-list {
  background-color: #0000;
  border: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
  display: flex;
}

.modal-img {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #cec8c8;
  border-radius: 20px;
  align-items: center;
  gap: 110px;
  transition: transform .3s;
  display: flex;
}

.modal-img:hover {
  border: 1px solid var(--accent-color);
  transform: scale(1.1);
}

.modal-img span {
  background-color: var(--primary-color);
  border: 1px solid #ededed;
  border-radius: 100px;
  width: 70px;
  height: 29px;
  margin-right: 10px;
  padding: 5px;
  font-size: 13px;
}

.input-group {
  text-align: left;
}

.modal-form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 15px;
  display: flex;
}

.modal-form label {
  color: #333;
  font-size: 12px;
  font-weight: 500;
}

.modal-form input, .modal-form textarea {
  border: 1px solid #cec8c8;
  border-radius: 8px;
  width: 263px;
  height: 40px;
  padding: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  display: block;
}

.modal-form input::placeholder, textarea::placeholder {
  color: #aaa;
}

.modal-form button {
  width: 100px;
  height: 35px;
  color: var(--primary-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  border-radius: 50px;
}

.input-wrapper {
  flex-direction: column;
  align-items: baseline;
  gap: 2px;
  display: flex;
}

.iti__country-list {
  width: 261px;
  height: 150px;
}

.advantages-wrapper {
  background-color: var(--secondary-color);
  justify-content: center;
  width: 100%;
  margin-top: 70px;
  padding: 20px;
  display: flex;
}

.logo-container {
  border: 1px solid #aaa;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  margin-top: 20px;
  display: flex;
}

.logo-container img {
  width: 32px;
  height: 32px;
}

.advantages-title {
  color: var(--primary-color);
  margin-top: 20px;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 600;
}

.advantages-pharagraph {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 400;
}

.advantages-list {
  flex-flow: column wrap;
  justify-content: center;
  max-width: 375px;
  display: flex;
}

.components-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-top: 128px;
  padding: 20px;
  display: flex;
}

.component-details {
  max-width: 418px;
}

.components-title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
}

.components-title span {
  color: var(--accent-color);
}

.components-pharagraph {
  text-align: center;
  font-size: 14px;
}

.card-container {
  perspective: 1000px;
  width: 270px;
  height: 270px;
  position: relative;
}

.card {
  cursor: pointer;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  transition: transform .6s ease-in-out;
  display: flex;
  position: relative;
}

.card-container:hover .card {
  width: 270px;
  height: 270px;
  transform: rotateY(180deg);
}

.card-front img {
  width: 224px;
  height: auto;
}

.card-front, .card-back {
  backface-visibility: hidden;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  box-shadow: 0 4px 8px #0003;
}

.card-back {
  transform: rotateY(180deg);
}

.components-list {
  flex-direction: column;
  gap: 20px;
  display: flex;
}

.first {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

.second, .fourth {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--accent-color);
}

.third {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.card-back-container {
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  display: flex;
}

.card-ph {
  height: 162px;
  font-size: 14px;
  overflow: auto;
}

.card-back-container h3 {
  font-size: 18px;
}

.card-btn-container {
  gap: 10px;
  display: flex;
}

.card-btn-benefits, .card-btn {
  cursor: pointer;
  border-radius: 10px;
  width: 90px;
  height: 24px;
  font-size: 11px;
  transition: transform .3s;
}

.card-btn {
  color: var(--primary-color);
  background-color: var(--accent-color);
  border: none;
}

.card-btn-benefits {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--accent-color);
}

.card-btn-benefits:hover, .card-btn:hover {
  color: var(--accent-color);
  background-color: #fcf1e0;
  border: none;
}

.card-ph::-webkit-scrollbar {
  display: none;
}

#video-container img, #video-container iframe {
  object-fit: cover;
  border-radius: 15px;
  width: 335px;
  height: 500px;
  display: block;
}

#video-container iframe {
  margin-bottom: 40px;
}

.play-btn {
  position: relative;
  bottom: 285px;
}

.how-its-made-container {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}

.how-its-made-wrapper h2 {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 600;
}

.how-its-made-wrapper span {
  color: var(--accent-color);
}

.how-its-made-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 128px;
  display: flex;
}

.recipe-list {
  list-style-type: inherit;
  background-color: #fff;
  border-radius: 15px;
  flex-direction: column;
  gap: 20px;
  width: 335px;
  margin-bottom: 15px;
  padding: 30px;
  display: flex;
}

.recipe-list h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.recipe-list li {
  font-size: 14px;
}

.our-products-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 340px;
  margin-top: 128px;
  display: flex;
}

.our-products-title {
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 600;
}

.swiper {
  width: 95%;
  max-width: 1200px;
  height: 410px;
  margin: 32px auto;
  padding: 10px;
  overflow: hidden;
}

.swiper-wrapper {
  margin-left: 20px;
  display: flex;
}

.swiper-slide {
  background-color: #fff;
  border: 1px solid #cec8c8;
  border-radius: 15px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 360px;
  display: flex;
}

.swiper-slide img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--accent-color);
  margin: -41px 5px;
}

.swiper-button-next:after, .swiper-button-prev:after {
  border-radius: 5%;
  padding: 10px;
  transition: background-color .3s, transform .2s;
}

.swiper-button-next:hover:after, .swiper-button-prev:hover:after {
  background-color: #e9d5b7;
}

.swiper-pagination-bullet-active {
  background-color: var(--accent-color);
  border-radius: 4px;
  width: 20px;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
}

.swiper-slide h3 {
  font-size: 18px;
  font-weight: 600;
}

.chocolate-details {
  flex-direction: column;
  align-items: center;
  gap: 2px;
  display: flex;
}

.chocolate-details span {
  font-size: 12px;
}

.our-products-title {
  font-size: 24px;
}

.chocolate-price {
  width: 94px;
  height: 33px;
  color: var(--secondary-color);
  text-align: center;
  background-color: #1111111a;
  border: 1px solid #cec8c8;
  border-radius: 20px;
  margin-top: 18px;
  padding: 8px;
}

.top-sellers-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 108px;
  display: flex;
}

.top-sellers-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
}

.top-sellers-list-item img {
  width: 300px;
  height: auto;
}

.top-sellers-list {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.top-sellers-list-item {
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 300px;
  display: flex;
}

.top-sellers-list-item p {
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 400;
}

.top-sellers-container h2 {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 600;
}

.top-sellers-title {
  color: var(--accent-color);
}

.last-image, .last-image button {
  display: none;
}

.swiper-container {
  width: 95%;
  max-width: 360px;
  height: 410px;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
}

.chocolate-loved-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.chocolate-loved-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 340px;
  margin-top: 128px;
  display: flex;
}

.chocolate-loved-container h2 {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 600;
}

.chocolate-loved-container span {
  color: var(--accent-color);
}

.review-img-container img {
  object-fit: cover;
  width: 100%;
  max-width: 80px;
  height: auto;
  margin: -30px auto 0;
  display: block;
}

.review-text {
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 18px;
  display: flex;
}

.review-text p {
  padding: 5px;
  font-size: 14px;
}

.chocolate-loved-slide {
  gap: 42px;
  width: 300px;
  height: 240px;
}

.swiper-container-pagination {
  flex-direction: row;
  justify-content: center;
  margin-top: -127px;
  display: flex;
}

.review-modal {
  z-index: 12;
  backdrop-filter: blur(5px);
  background: #363636cc;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.review-modal-content {
  background-color: var(--primary-color);
  text-align: center;
  border: 1px solid #cec8c8;
  border-radius: 15px;
  width: auto;
  max-width: 314px;
  height: 471px;
  margin: 50px auto;
  padding: 25px;
  position: relative;
  overflow: hidden;
}

.review-modal-content h3 {
  text-align: left;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 600;
}

.review-modal-content span {
  color: var(--accent-color);
}

.close-modal-review {
  cursor: pointer;
  background-color: #0000;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 13px;
  right: 13px;
}

.review-form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 15px;
  display: flex;
}

.review-form label {
  color: #333;
  font-size: 12px;
  font-weight: 500;
}

.review-form input, .review-form textarea {
  border: 1px solid #cec8c8;
  border-radius: 8px;
  width: 263px;
  height: 40px;
  padding: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  display: block;
}

.review-form input::placeholder, textarea::placeholder {
  color: #aaa;
}

.send-modal-review {
  width: 93px;
  height: 41px;
  color: var(--primary-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  border-radius: 100px;
  margin-top: 18px;
}

.open-modal-review {
  border: 1px solid var(--accent-color);
  cursor: pointer;
  z-index: 10;
  background-color: #0000;
  border-radius: 100px;
  width: 222px;
  height: 50px;
  margin-top: -70px;
  margin-bottom: 100px;
  font-size: 18px;
  transition: background-color .3s, transform .2s;
}

.open-modal-review:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

@media screen and (width >= 768px) {
  .header {
    justify-content: space-evenly;
    gap: 216px;
  }

  .header-img {
    width: 704px;
  }

  .scroll-down-container {
    width: 100%;
    font-size: 14px;
    bottom: 6px;
    left: 365px;
  }

  .hero-content {
    align-items: flex-end;
    bottom: 40px;
  }

  .hero-pharagraph {
    width: 100%;
    max-width: none;
    margin-left: 280px;
    font-size: 28px;
    line-height: 34px;
  }

  .hero-btn {
    margin-right: 205px;
  }

  .hero-content-wrapper {
    flex-direction: column;
    align-items: flex-end;
    display: flex;
  }

  .buy-now-modal-content {
    max-width: 600px;
  }

  .products-list {
    flex-direction: row;
    gap: 15px;
  }

  .modal-img {
    flex-direction: column;
    gap: 8px;
    width: 156px;
    height: 129px;
  }

  .modal-img img {
    width: 100px;
  }

  .personal-info {
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
  }

  .personal-info input {
    width: 246px;
    height: 40px;
  }

  .input-group {
    flex-direction: column;
    gap: 6px;
    display: flex;
  }

  .input-group label {
    padding-right: 87px;
  }

  .review-form textarea {
    width: 263px;
    height: 85px;
  }

  .review-form .phone input {
    width: 263px;
  }

  .email input, .phone input, .card-number input, .comment, .modal-form textarea {
    width: 500px;
  }

  .iti__country-list {
    width: 497px;
  }

  .review-form .iti__country-list {
    width: 263px;
    overflow-y: hidden;
  }

  .advantages-wrapper {
    flex-direction: column;
    align-items: center;
    height: 600px;
    display: flex;
  }

  .advantages-list {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 715px;
    display: grid;
  }

  .components-list {
    flex-flow: wrap;
    justify-content: center;
  }

  .components-title, .how-its-made-wrapper h2 {
    font-size: 24px;
  }

  .recipe-list {
    width: 613px;
  }

  .play-btn {
    bottom: 237px;
  }

  #video-container img, #video-container iframe {
    width: 614px;
    height: 400px;
  }

  .our-products-wrapper {
    max-width: 700px;
  }

  .swiper-wrapper {
    margin-left: 0;
  }

  .top-sellers-list {
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
    max-width: 305px;
  }

  .top-sellers-list-item {
    max-width: 460px;
  }

  .top-sellers-list-item button {
    margin-left: 181px;
  }

  .top-sellers-list-item img {
    width: 344px;
  }

  .top-sellers-container h2 {
    font-size: 24px;
  }

  .chocolate-loved-wrapper, .swiper-container {
    max-width: 660px;
  }

  .review-modal-content {
    width: auto;
    max-width: 517px;
    height: 500px;
  }

  .review-modal-content h3 {
    width: 60%;
    margin-left: 99px;
  }
}

@media screen and (width >= 1280px) {
  .header {
    gap: 0;
  }

  .header-img {
    width: 1186px;
  }

  .logo-wrapper {
    width: 75%;
  }

  .toggle-button, .mobile-list a {
    display: none;
  }

  .sidebar-desktop {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    display: flex;
  }

  .desktop-list {
    gap: 18px;
    display: flex;
  }

  .desktop-list a {
    transition: transform .3s;
  }

  .desktop-list a:hover {
    color: var(--accent-color);
    transform: scale(1.2);
  }

  .hero-content-wrapper {
    justify-content: center;
    min-width: 400px;
    display: flex;
  }

  .scroll-down-container {
    left: 543px;
  }

  .hero-btn {
    margin-right: 410px;
  }

  .hero-pharagraph {
    width: 100%;
    max-width: 88%;
    margin-right: 150px;
  }

  .social-icons {
    display: none;
  }

  .social-icons-desktop {
    align-items: center;
    gap: 16px;
    display: flex;
  }

  .social-icons-desktop img {
    width: 20px;
    height: 18px;
    transition: transform .3s;
  }

  .social-icons-desktop img:hover {
    transform: scale(1.2);
  }

  .advantages-list {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    align-items: baseline;
    max-width: 1156px;
  }

  .border {
    border-right: 1px solid #aaa;
    padding: 10px;
  }

  .how-its-made-container {
    flex-direction: row;
    display: flex;
  }

  .play-btn {
    top: 10px;
    left: -332px;
  }

  #video-container iframe, #video-container img {
    width: 584px;
    height: 361px;
  }

  #video-container iframe {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .recipe-list {
    width: 584px;
    height: 361px;
    margin-top: 24px;
  }

  .our-products-wrapper {
    max-width: 1200px;
  }

  .our-products-title {
    font-size: 24px;
  }

  .last-image, .last-image button {
    display: flex;
  }

  .top-sellers-list-item img {
    width: 368px;
    height: 464px;
  }

  .top-sellers-list-item button {
    justify-content: center;
    align-items: center;
    margin-left: 264px;
    display: flex;
  }

  .second-image button {
    display: none;
  }

  .chocolate-loved-wrapper, .swiper-container {
    max-width: 1200px;
  }

  .chocolate-loved-container h2 {
    font-size: 24px;
  }
}
/*# sourceMappingURL=index.4d663569.css.map */
